@font-face {
    font-family: "Karmatic";
    src: url(karmatic_arcade/ka1.ttf);
}

@font-face {
    font-family: "Revolution" ;
    src: url(./karmatic_revolution/kr1.ttf);
}
@font-face {
    font-family: "caviar";
    src: url(./fontes/caviar_dreams/CaviarDreams.ttf);


}
h1{ font-family:"karmatic";color: white; text-align: center; margin-top: 50px;}

.titulo{ font-size: 90px; text-decoration: none;  }
.subtitulo{ text-align: center; margin-top: 30px;}

header h2{ 
    font-family:"karmatic"; 
    color: white;
    font-size: 50px;}

h3{ font-family:"karmatic"; color: white;}

body{ background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
}



.info{ 
    font-family:"caviar";
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
    width: 80%;
    margin:100px auto;
    justify-content: space-around; 
    display: flex; 
    gap: 30px;
    height: 50%;
    position:relative;

/*     letter-spacing: 3px; */
}
.info h2 {
    margin-bottom: 40px;
    font-family:"karmatic"; 
    color: white;
}
.info1{  
    width:440px;
    text-align: center;
}

.divL{
    text-align: left;
}

.info1 ul {
    margin-top:40px
}

.botao { width: fit-content;
margin: auto;
position:relative;
flex-wrap: wrap;

}

.inscrever {
    font-size: 22px;
    margin:auto;
    height: 90px;
    width: 230px;
    border: solid 3px orange;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
    font-family: 'Karmatic';
}
.inscrever:hover {
    background-color: orange;
}
.inscrever:active{
    background-color: #bd7b00;
}
form {
    margin-top: 50px;
    width: 70%;
    background-color: #00000040;
    border-radius: 25px;
    padding: 20px;

}

.btn {border: solid 3px orange;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    transition: 0.5s; 
    font-family: 'Karmatic';
    
    }

    .btn:hover {
        background-color: orange;
        border: solid 3px orange;}

    a{ text-decoration: none; color: inherit;}

  


